:root {
  --main-bg-color: rgb(53, 53, 53);
  --main-font-color: rgb(171, 212, 189);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}
